<div class="carta carta_clase">
    <div class="carta-header carta-header_clase">
        <%= link_to clase.nombre, clase, class:"carta-title carta-title_clase" %>
    </div>
    <% if clase.radical && clase.raza%>
        <h3 class="clase-subtitulo clase-subtitulo_radical">Clase de raza y radical</h3>
    <% elsif clase.radical == true %>
        <h3 class="clase-subtitulo clase-subtitulo_radical"> Clase radical</h3>
    <% elsif clase.raza == true %>
        <h3 class="clase-subtitulo .clase-subtitulo_raza">Clase de raza</h3> 
    <% end %>
    <div class="carta-contents">
        <div class="carta-details">
            <p class="carta-description carta-description_clase"><%= clase.efecto %></p>
            <p class="carta-description carta-description_clase"><%= clase.descripcion %></p>
        </div>
        <div class="carta-image">
            <%= render "shared/image", image: clase.image %>
        </div>
    </div>
</div>
