<h2>Clases</h2>

<div class="grid-container">
    <% @xs.sort_by(&:nombre).each do |clase| %>
        <%unless clase.oculto%>
            <%= render "clase", clase: clase %>
        <% end %>
    <% end %>
</div>

