<h2>Clases</h2>

<div class="clase-clases bodeOscuro">
    <%= link_to "Listado completo de hablidades", habilidads_path, class: "neutral" %>
    <%= link_to "Habilidades independientes (sin clase)", habilidads_path(indep: "t"), class: "neutral"%>
    <%= link_to "Ãrbol de clases", "https://drive.google.com/file/d/1HBR8AoPRvbim8WksjS18dCjR_5bYLR18/view?usp=sharing", class: "neutral"%>
</div>
<br>

<div class="grid-container">
    <% @xs.sort_by(&:nombre).each do |clase| %>
        <%= render "clase", clase: clase %>
    <% end %>
</div>

