<h2>Clases</h2>

<h3><%= link_to "Ãrbol de clases", "https://drive.google.com/file/d/1HBR8AoPRvbim8WksjS18dCjR_5bYLR18/view?usp=sharing"%></h3>
<br>

<div class="grid-container">
    <% @xs.sort_by(&:nombre).each do |clase| %>
        <%= render "clase", clase: clase %>
    <% end %>
</div>

