<div class="grid-container">
    <% habilidades.hide(defined?(@secreto) ? true : false).order(:nivel, :nombre).each do |habil| %>
        <%= render "habilidads/habilidad", habil: habil %>
    <% end %>
</div>