<h2>Items</h2>

<div class="clase-clases bodeOscuro">
    <% Categ.all.sort_by(&:nombre).each do |ct| %>
        <%= link_to ct.nombre, ct, class: "neutral" %>
    <% end %>
</div>

<% Categ.all.sort_by(&:nombre).each do |ct| %>
    <%= render "categs/categ", x: ct %>
<% end %>

<h2> Sin categoría </h2>
<div class="grid-container">
    <% Item.all.includes(:categs).where(categs: { id: nil }).sort_by(&:nombre).each do |item| %>
        <%= render "items/item", item: item %>
    <% end %>
</div>
