<h2>Items</h2>

<h3><%= link_to "Items sin peso", items_path(isPeso: "t")%></h3>
<h3><%= link_to "Items con peso", items_path(isPeso: "f")%></h3>

<div class="grid-container">
    <% @xs.sort_by(&:nombre).each do |item| %>
        <%= render "item", item: item %>
    <% end %>
</div>
