.admin-cuerpo {
    display: flex;
}

.admin-cuerpo .admin-column {
    flex: 3;
    border-right: 1px solid #ddd;
    margin: 20px;
    margin-bottom: 0px;
}

.admin-cuerpo .admin-column-small {
    flex: 2;
    font-size: smaller;
}

.admin-cuerpo .admin-column:last-child {
    border-right: none;
}

.admin-actions {
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}