@import "respondMax";

:root {
  --ancho_pj_imagen:350px;
  @include respond-max {
    --ancho_pj_imagen:250px;
  }
}

.pj-meta_tipo_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; // para que se adapte a pantallas pequeñas
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid var(--c_base);
  border-radius: 10px;
  background-color: var(--c_contraste_alt);

  .btn {
    padding: 5px 10px;
    color: var(--c_black);
  }
}

//Tabs in form

.pj-tabs {
  margin-top: 40px;
  background-color: var(--c_contraste);
  border: 4px solid var(--c_black);
  border-radius: 10px;
  padding: 20px;
  position: relative;
  min-width: fit-content;
}

.pj-tabs.wrapped{
  margin-top: 0;
}

.pj-tabs-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  row-gap: 5px;
  position: absolute;
  top: -36px; 

  div {
    background-color: var(--c_alternativo);
    padding: 5px;
    border: 4px solid var(--c_black);
    border-radius: 5px;
    white-space: nowrap;
    &:hover {
      background: var(--c_contraste_alt);
      cursor: pointer;
    }
  }

  .pj-tabs-nav-active {
    background-color: var(--c_contraste);
    border-bottom: none;
    border-radius: 5px 5px 0 0;
  }

}

.pj-tabs-nav.wrapped {
  position: initial;
  margin: 15px 30px 15px 0;
  .pj-tabs-nav-active {
    border: 4px solid var(--c_black);
    border-radius: 5px;
  }
}

.pj-tab_pane {
  display: none;
  .columns {  
    max-width: 100%;
    display: flex;
    gap: 20px;

    > div{
      flex: 1;
      flex-shrink: 1;

      select {
        width: var(--ancho_pj_imagen);
      }
    }
    
    @include respond-max {  flex-direction: column; }
  }
  .white_bk{
    background: var(--c_white);
    border-radius: 10px;
    padding: 10px;
  }
  .max-width{
    max-width: var(--ancho_pj_imagen);
  }
}
.pj-tab_pane-active {
  display: block;
}

.pj-image img {
  max-width: var(--ancho_pj_imagen);
  border-radius: 6px;
}
.pj-image-placeholder {
  width: var(--ancho_pj_imagen);
  height: var(--ancho_pj_imagen);
  display: flex;
  align-items:center;
  justify-content:center;
  border-radius: 6px;
  background: var(--c_white);
  color: var(--c_grey);
}

/* Estadísticas: tabla */
.tabla-estadisticas {
  th, td{
    vertical-align: middle;
    text-align: center;
    max-width: 120px;
  }
  th {
    color: var(--c_white);
    background-color: var(--c_detalle);
    border-radius: 5px;
    padding: 3px;
  }
  input[type="text"]{
    max-width: 110px;
  }
  input[type="number"]{
    width: 40px;
  }
  input[type="checkbox"]{
    transform: scale(2);
  }
  @include respond-max {
    thead {
      display: none;
    }
    tr {
      display: block;
      border: 1px solid var(--c_grey);
      margin-bottom: 10px;
      padding: 5px;
      width: var(--ancho_pj_imagen);
    }

    td {
      display: flex;
      padding: 2px 0;
      max-width: none;
    }

    td.checkbox-danger {
      background-color: unset;
    }

    td::before {
      content: attr(data-label) ": ";
      font-weight: bold;
      margin-right: 10px;
    }
  }
}
