.mob-item {
    background-color: #94d2bd;
    width: 400px;
}
.mob-subGrid {
    display: grid;
    grid-template-areas:
      'estabilidad  sangre      oro'
      'armMag       penFis      penMag'
      'cuerpo       cuerpo      cuerpo'
      'descripcion   descripcion descripcion';
    gap: 5px;
    margin: 10px;
    padding: 0;
    height: 300px;
}
.mob-estabilidad { grid-area: estabilidad; }
.mob-sangre { grid-area: sangre; }
.mob-oro { grid-area: oro; }
.mob-armMag { grid-area: armMag; }
.mob-penFis { grid-area: penFis; }
.mob-penMag { grid-area: penMag; }
.mob-cuerpo { grid-area: cuerpo; }
.mob-descripcion { grid-area: descripcion; }
.mob-cuerpo, .mob-descripcion {
    padding: 10px;
    margin: 0;
    border: 2px solid var(--c_detalle);
    border-radius: 5px;
    overflow-y: scroll;
}

.mob-listado {
    margin-bottom: 10px;
}

.mob-image {
    margin-left: 10px;
    height: 100%;
    text-align: center;
}
.mob-image img {
    max-height: 100%;
    max-width: 100%;
}