.footbar {
  background-color: var(--c_base);
  color: var(--c_contraste);
  margin: 0;
  margin-top: 20px;
  padding: 10px 0px;
  width: 100%;
  display: flex;
}

.footbar > * {
  flex: 1;
  text-align: center;
}

.footbar-admin_button {
    display: flex;
}

.footbar-admin_button a {
    margin-left: auto;
    margin-right: 20px;
    font-size:smaller;
    opacity: 0.6;
    transition: opacity 0.2s;
    white-space: nowrap;
}

.footbar-admin_button a:hover {
    opacity: 1;
    text-decoration: underline;
}