.lootbox-main {
    display: grid;  
    grid-template-columns: 1fr 2fr;
    margin: 10px;
}

.lootbox-select {
    overflow: hidden;
    width: 200px;
    height: 270px;
}

.lootbox-number {
    width: 40px;
}

.lootbox-form {
    width: auto;
    height: auto;
}

.lootbox-chest {
    overflow-y: auto;
    max-height: 500px; 
}

.lootbox-item {
    text-overflow: ellipsis;
    height: 45px;
    overflow: hidden;
}

.lootbox-item .carta-description{
    color: var(--c_white);
}