.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}

.pagination a, .pagination .current {
    padding: 8px 12px;
    background: var(--c_alternativo);
    color: var(--c_base);
    border-radius: 5px;
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.pagination a:hover {
    background: var(--c_alternativo_alt);
}

.pagination .current {
    background: var(--c_contraste);
    font-weight: bold;
}