@import "actiontext.css";


:root {
    /* PALETA*/
    --c_black: #110E08;
    --c_white: #F5F0E9;
    --c_grey:  #AD8650;

    --c_base: #112250;
    --c_base_alt: #1D3987;
    --c_contraste: #E0C58F;
    --c_contraste_alt: #E6CFA3;
    --c_alternativo: #D9CBC2;
    --c_alternativo_alt: #E4D9D3;
    --c_detalle: #3C507D;
    --c_detalle_alt: #445A8D;
    --c_link: #2D59D2;
    --c_link_alt: #5277DA;

    --c_danger: #DC143C;
    --c_danger_alt: #8B0000;
    --c_danger_alternativo: #FF1D8D;
    --c_warning: #ffc107;
    --c_warning_alt: #e0a800;

    --margin-top: 160px;
    --margin_top_reduced: 90px;
}

@font-face{
    font-family:'Seagram';
    src: url('Seagram_tfb.ttf') format('truetype');
}

/* z-index layers */
// 1   -> cosas dentro de main-content
// 2   -> barra de navegación
// 3   -> flash notices;
// 10+ -> modales

@import "partials/base_html.scss";
@import "partials/navbar.scss";
@import "partials/foot.scss";
@import "partials/info&rules.scss";
@import "partials/cuentos.scss";
@import "partials/cartas.scss";
@import "partials/clase&shows.scss";
@import "partials/cuadros.scss";
@import "partials/paginacion.scss";
@import "partials/mob.scss";
@import "partials/lootboxing.scss";
@import "partials/admin.scss";
@import "partials/flash_notices.scss";
@import "partials/botones.scss";
@import "partials/home.scss";
@import "partials/otros.scss";
@import "partials/user.scss";
@import "partials/devise.scss";
@import "partials/personaje.scss";