@import "actiontext.css";


:root {
    /* PALETA*/
    --c_black: #001219;
    --c_white: #F7F7F7;
    --c_grey:  #999999;

    --c_base: #38002e;
    --c_base_alt: #4D003E;
    --c_contraste: #98c2ff;
    --c_contraste_alt: #b3d1ff;
    --c_alternativo: #c375d7;
    --c_alternativo_alt: #D797E7;
    --c_detalle: #6d5ac6;
    --c_detalle_alt: #A095D0;
    --c_link: #003d99;
    --c_link_alt: #667a99;

    --c_danger: #DC143C;
    --c_danger_alt: #8B0000;
    --c_danger_alternativo: #FF1D8D;
    --c_warning: #ffc107;
    --c_warning_alt: #e0a800;

    --margin-top: 160px;
}

@font-face{
    font-family:'Seagram';
    src: url('Seagram_tfb.ttf') format('truetype');
}

/* z-index layers */
// 1 -> cosas dentro de main-content
// 2 -> barra de navegación
// 3 -> flash notices;

@import "partials/base_html.scss";
@import "partials/navbar.scss";
@import "partials/foot.scss";
@import "partials/info&rules.scss";
@import "partials/cuentos.scss";
@import "partials/cartas.scss";
@import "partials/clase&shows.scss";
@import "partials/cuadros.scss";
@import "partials/paginacion.scss";
@import "partials/mob.scss";
@import "partials/lootboxing.scss";
@import "partials/admin.scss";
@import "partials/flash_notices.scss";
@import "partials/botones.scss";
@import "partials/home.scss";
@import "partials/otros.scss";
@import "partials/user.scss";
@import "partials/devise.scss";
@import "partials/personaje.scss";