/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
/* .clase-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
} */

.Paleta{
color:  #001219
        #005f73
        #0a9396
        #94d2bd
        #e9d8a6
        #ee9b00
        #ca6702
        #bb3e03
        #ae2012
        #9b2226
}

body {
    font-family: "Open Sans", sans-serif;
    color: #001219;
    background-color: #bed1cb;
    margin: 0;

    background-image: url('sky.jpg');
    background-size: cover;
}

h1, h2, h3 {
    margin: 10px;
    margin-top: 20px;
}

p {
    margin: 10px;
    overflow-y: auto;
}

form {
    margin: 20px;
}

textarea {
    height: 200px;
    width: 500px;
}

.inBody {
    margin: 5px;
    margin-top: 150px;
}






.bodeOscuro {
    border: 4px solid #001219;
    border-radius: 10px;
}

.clase-item {
    width: 400px;
    height: 400px;
    background-color: #94d2bd;
    display: flex;
    flex-direction: column;
}

.clase-header {
    background-color: #94d2bd;
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    height: 8%;
}

.clase-level {
    background-color: #0a9396;
    padding: 5px;
    margin: 10px;
}

.clase-coste {
    background-color: #e9d8a6;
}

.clase-peso {
    background-color: #ee9b00;
}

.clase-title {
    width: 60%;
}

.clase-contents {
    height: 90%;
    display: flex;
    flex-direction: row;
}

.clase-details {
    height: 80%;
    width: 60%;
}

.clase-effect,
.clase-description {
    width: 95%;
    height: 48%;
    font-size: 14px;
    background-color: #e9d8a6;
    margin: 10px;
    padding: 10px;
    border: 2px solid #ca6702;
    border-radius: 5px;
}
.clase-effectBig {
    height: 98%;
    width: 80%;
}

.clase-image {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clase-imageFixed {
    height: 400px;
}

.clase-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.clase-clases {
    background-color: #005f73;
    margin: 10px;
    padding: 0px;
}

.clase-clases a {
    background-color: #ae2012;
    color: #e9d8a6;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #001219;
    border-radius: 10px;
}

.clase-clases a:hover {
    background-color: #ca6702; /* Cambia el color de fondo al pasar el cursor sobre el enlace */
}

.clase-clases a:visited {
    color: #e9d8a6;
}

.clase-show {
    margin: 10px;
}

.clase-picture {
    width: 400px;
    height: 400px;
}
.clase-picture img {
    width: 100%;
    height: auto;
}
  
.clase-picture-desc{
    text-align: center;
    font-size: 14px;
    background-color: #e9d8a6;
    padding: 10px;
    
    border: 2px solid #ca6702;
    border-radius: 5px;
}

.grid-container {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /*400 es el tamaño del item de dentro*/
    grid-gap: 10px;
}



/* Estilos CSS para la barra de direcciones */
.navbar {
    background-color: #bb3e03;
    color: #e9d8a6;
    padding: 10px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.navbar img{
    height: 72px;
    width: auto;
}

.subnavbar {
    width: 93%;
}

.navbar h1 {
    margin: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin-right: 10px;
}

.navbar a {
    text-decoration: none;
    padding: 5px;
}

.navbar a:hover {
    background-color: #ae2012; /* Cambia el color de fondo al pasar el cursor sobre el enlace */
}

.navbar a:visited {
    color: #e9d8a6;
}

.form-select {
    height: 200px;
    width: 200px;
}