<p>Esta página ha sido programada en su totalidad por mí, SilverFish, autor también del sistema de rol y de todo su contenido. Mi correo es: silverfishseeker@gmail.com</p>
<p>Todas las imágenes utilizadas o son originales o estás sacadas de búsquedas en google.</p>