<h1>Efectos alterados:</h1>

<ul>
    <div>
    <% @xs.sort_by(&:nombre).each do |x| %>
        <li><%= render "estadoalterados/estadoalterado", x: x%></li>
    <% end %>
</div>

</ul>



<%#
    <li><b></b></li>
<ul>
    <li></li>
    <li></li>
    <li></li>
</ul>
<h1></h1>
<h2></h2>
<p></p>
<b></b>
%>