<h1>Lista de efectos alterados:</h1>
<ul>
    <li><b>Aturdir X:</b> Acumula cargas. Al comienzo del turno, si tienes cargas retira una y pierde el turno.</li>
    <li><b>Confundido:</b> la próxima vez que ataque lo hace con desventa y deja de estar confundido.</li>
    <li><b>Arder:</b> afecta a una parte del cuerpo concreto. Cuando una parte del cuerpo arde primero se daña, y luego se pone en llamas. Las partes del cuerpo que están en llamas al principio de cada turno arden y también arden todas las partes del cuerpo adyacentes a la misma. Una parte del cuerpo en llamas seguirá así hasta que alguien eche agua encima o haga algo para remediarlo.</li>
    <li><b>Resfriado X:<b> Acumula cargas víricas. Ganas desventa en todas las tiradas por cada una. Aumenta las cargas en 1 cada vez que haces un esfuerzo grande. Aumenta las cargas en 1 tras un día activo. En un descanso largo, tras calcular sanación y antes de recuperar sangre, puedes perder hasta la mitad de cargas (redondeado hacia arriba) de efermedad pagando la misma cantidad de sangre, (puedes decidir cuánto).</li>
    <li><b></b></li>
</ul>



<!--
<ul>
    <li></li>
    <li></li>
    <li></li>
</ul>
<h1></h1>
<h2></h2>
<p></p>
<b></b>
-->