<div style="margin:20px">

<h1>Lista de efectos alterados:</h1>
<ul>
    <li>Aturdir X: Acumula cargas. Al comienzo del turno, si tienes cargas retira una y pierde el turno.</li>
    <li></li>
    <li></li>
</ul>



<!--
<ul>
    <li></li>
    <li></li>
    <li></li>
</ul>
<h1></h1>
<h2></h2>
<p></p>
<b></b>
-->
</div>