
<h1>THE LORE</h1>

<p>Eres un habitantes del laberinto, Doors Maze. Aquí cada sala tiene su propio bioma y temática diferente. Una puede ser un pueblo, otra un volcán, una antigua biblioteca, un pequeño mar.... Todo el mundo conocido consiste en este extraño lugar que parece infinito. Eres un explorador del asentamiento base; tu  objetivo es aventurarte a salas desconocidas en busca de recursos y tesoros. ¿Qué nuevas extrañas sorpresas esperarán en la siguiente zona? ¿Encontrarás amigos o enemigos? ¿Artefactos poderosos de eras milenarias u objetos malditos que corrompan tu ser? Sólo hay una forma de averiguarlo... ¡Explora el laberinto!</p>