<h1>Reglas</h1>
<p>Bienvenido a Door Maze. En esta sección vamos a ver las reglas para crear a tu personaje y para poder batallar y demás.</p>
<p>En estas reglas se da por sentado que se conoce las bases de un juego de rol. Especial incapie en la figura de <b>game master</b>.</p>
<p>Primero comentar un poco que para muchos casos estas reglas no son estrictas y pueden dar lugar a situaciones en las que no se sepa cómo debe de suceder, al fin y al cabo en un rol puede pasar cualquier cosa. En estos casos hay que ser razonables y si hay discusión el game master tiene la última palabra al final.</p>
<p>La reglas están detalladas y se habla de muchos casos que sólo hay que tener en cuenta en ocasiones especiales. Si no se aplican en tu caso, puedes pasarlos un poco por encima y revisitarlos cuando lo necesites.</p>
<br>

<%# <h2> Indice</h2>
<p>(Puedes pinchar para ir a esa sección.)</p>

<a href="#Estadísticas">Estadísticas</a> %>

<h2>Nomenclatura</h2>
<p>Lo primero de todo vamos a ver la terminología que se usa en este juego.</p>
<h3>Dados</h3>
<p>Cuando se te pide que lances 1d20, se refiere a que lances un dado de 20 caras y uses el resultado para lo que se te pida. Entonces siempre es [número de dados]d[número de caras de los dados]. Si hay más de un dado sumas el total de todas las caras que han salido, y es común que a este resultado se le sumen otros valores especificados (o restar también).</p>
<p>En relación a esto, a veces se utiliza una notación del tipo <b>1d20/X</b>, donde X es un número que es un valor objetivo; este tipo de tiradas se llaman pruebas, se dice que la superas si el resultado de los dados (más cosas que les sumes) es mayor que X. Tamién es posible que durante la aventura se te pide que hagas una prueba de alguna estadística, para ver si consigues hacer algo o no, simplemente tiras 1d20 y le sumas el modificador de la estadística nombrada (ver modificadores más adelante).</p>
<h3>Ventaja/desventaja</h3>
<p>Cuando lanzas un dado con <b>ventaja</b> lanzas un dado extra y luego te quedas con el resultado que sea más favorable. <b>Desventaja</b> es exactamente los mismo pero te quedas con el peor resultado. Para ambos casos puedes ganar mútiples acumulaciones, si tienes 2 de ventaja lanzarías 2 dados extras y te quedas con el mejor entre los 3, igual con desventaja. Las acumulaciones de ventaja y de desventaja se neutralizan entre sí. Ej: un efecto hace que ganes ventaja pero otro te da 3 de desventaja, en total aplicas 2 de desventaja normalmente.</p>

<h3>Estadísticas</h3>
<p>Tu personaje y otros seres tienen una serie de estadísticas. No vamos a explicarlas ahora, pero vamos a enumerar las <b>estadísticas básicas</b> junto a sus iniciales que usaremos para referirnos a ellas de aquí en adelante:</p>
<ul>
    <li>(FU) Fuerza</li>
    <li>(IN) Inteligencia</li>
    <li>(DE) Destreza</li>
    <li>(CO) Constitución</li>
    <li>(RE) Resistencia</li>
</ul>

<h3>Modificadores</h3>
<p>Cuando se usan las siglas de una habilidad, no se refiere a la habilidad en sí si no a su modificador. Éste número se calcula según la siguiente tabla y se usa en numerosos efectos. Simplemente mira el valor actual de la estadística y usa el número correspondiente para la suma.</p>
<div class="mods-table">
    <p>Estadística</p> <p>Modificador</p> <p>Estadística</p> <p>Modificador</p>
    <p> 0/ 1</p> <p>-5</p> <p>12/13</p> <p>+1</p>
    <p> 2/ 3</p> <p>-4</p> <p>14/15</p> <p>+2</p>
    <p> 4/ 5</p> <p>-3</p> <p>16/17</p> <p>+3</p>
    <p> 6/ 7</p> <p>-2</p> <p>18/19</p> <p>+4</p>
    <p> 8/ 9</p> <p>-1</p> <p>20/21</p> <p>+5</p>
    <p>10/11</p> <p> 0</p> <p>22/23</p> <p>+6</p>
</div>
<p>(La tabla se puede extender si es necesario.)</p>


<h2>Tu estado</h2>
<p>A diferencia de otros sistemas, en este no tienes puntos de salud, si no que tienes <b>partes del cuerpo, sangre y estabilidad</b>. Debes de procuparar de mantenerlos en buen estado y debes tener apuntado en todo momento sus valores actuales.</p>

<h4>Tirada de muerte</h4>
<p>Antes de empezar vamos a ver cómo se puede morir. Un término esencial es la <b>tirada de muerte</b>. Esta consiste en lanzar 1d20. Si el resultado es estríctamente mayor que <b>10</b> tu personaje sobrevive tal y como está; si no, tu personaje muere permanentemente y ya no puedes seguir participando con él. Esta tirada no puede ser modificada por efectos bajo ninguna circustancia. Tu objetivo es no tener que llegar a tener que hacer esta tirada nunca.</p>


<h3>Partes del cuerpo</h3>
<p>Existen 8 partes del cuerpo numeradas. Se agrupan en las partes altas y en las bajas, esto es relevante para algunos tipos de golpes. Son:</p>
<ol>
    <p>Partes altas:</p>
    <li>cabeza</li>
    <li>torso</li>
    <li>brazo izquierdo</li>
    <li>brazo derecho</li>
    <p>Partes bajas:</p>
    <li>(1) pierna izquierda</li>
    <li>(2) pierna derecha</li>
    <li>(3) tronco medio</li>
    <li>(4) abdomen</li>
</ol>
<p>Piernas y brazos se consideran <b>apéndices</b>. Abdomen, tronco medio, torso y cabeza se consideran <b>principales</b>.</p>
<p>Cada parte puede estar en 3 estados: <b>saludable</b>, <b>herido</b> y <b>grave</b>. Veremos las consecuencias de estos estados más adelante.</p>

<h3>Sangre</h3>
<p>Tienes un medidor de sangre que indica la sangre que tienes en el cuerpo, algo así como las reservas internas de energía. Si llega a 0 realiza una tirada de muerte; si la superas, establece tu sangre a 1.</p>
<p>Una acción esencial sobre la sangre es <b>desangrar</b>. Al aplicarse pierdes 1 de sangre y obtienes estado de <b>desangrando</b>. Mientras que estas en este estado pierdes 1 de sangre por turno en combate o cada 10 minutos fuera de combate, hasta que se pare el sangrado.</p>
<p>Tras un descanso largo debes de gastar sangre para sanar partes del cuerpo dañadas. Para esto resta 1 de sangre por cada una para que pueda pasar al siguiente estado más saludable. Necesitas tener suficiente sangre para curarlas todas, si no es así, no se cura ninguna (y no pierdes sangre). Esta acción debe de intentarse obligatoriamente. Después de esto recupera la mitad de tu total de sangre. Tu sangre puede llegar a 0 antes de recuperarla durante estos cálculos sin provocar una tirada de muerte.<p>

<h2>Estabilidad</h2>
<p>Representa tu equilibrio físico actual, si te has caído al suelo o no y tal. Te permite esquivar ataques, lo veremos más adelante.
</p>

<h2>Consecuencias</h2>
<p>Ahora sí, con todo esto vamos a ver las consecuencias de que empeore el estado de tus partes del cuerpo (y sangre):</p>
<ul>
    <li>Mientras que tu sangre sea la mitad o esté por debajo, obtienes desventaja en todas tus tiradas.</li>
    <li>La acciones que involucren extremidades en estado herido obtienen acumulaciones de desventaja por cada extremidad.</li>
    <li>No puedes realizar acciones que involucren partes del cuerpo graves.</li>
    <li>Dañar una parte del cuerpo herida desangra como efecto adicional.</li>
    <li>Dañar una parte principal grave provoca una tirada de muerte.</li>
    <li>Dañar un apéndice grave provoca una tirada de muerte, si la fallas pierdes la extremidad permanentemente en vez de morir.</li>
</ul>


<h2>Combate</h2>
<p>Ahora vamos a echar un vistazo cómo funciona el sistema de combate.</p>
<p>Es por turnos. En cada turno cada jugador o enemigo puede realizar una acción; que normalmente será usar una de sus habilidades activas o bien intentar hacer otra cosa razonable. El orden de turnos se decide con una tirada inicial de todos los participantes de 1d10+DE (veremos esta estadística luego).</p>
<p>Entonces, cuando intentas atacar a alguien (o te atacan) haces una <b>tirada de precisión</b> (que normalmente nos referirnos como precisión a secas), que consiste en 1d20, luego comparas este valor con la <b>estabilidad</b> del objetivo. Si el valor es mayor entonces se da un impacto y ahora hay que mirar la armadura.</p>
<p>En la segunda parte, tras un impacto efectivo, primero vemos si el ataque era de naturaleza <b>física</b> o <b>mágica</b>. Si era físico entonces tu <b>penetración física</b> debe de ser estríctamente mayor que la <b>armadura física</b> de la zona del ataque, para poder aplicar el efecto del ataque, si no, no hace nada (pero aún hay impacto). El hecho de impactar y luego superar la armadura se llama <b>acertar</b>. En el caso de que sea mágico, se hace lo mismo pero con tu <b>penetración mágica</b> y su <b>armadura mágica</b> (la cuál no está asociada a una parte del cuerpo concreta).</p>
<p>Tu armadura mágica y armaduras físicas bases son 0. Las aumentas principalmente por tu equipamiento.</p>
<p>Sin embargo, si en la tirada de precisión obtienes un 20, el ataque se considera <b>crítico</b>, es un acierto segura (por lo tanto también impacta): aplica su efecto ignorando completamente la armadura. Pero si sacas un 1, es una <b>pifia</b> y el ataque falla completamente automáticamente (no impacta). Existen efectos que pueden aumentar tu probabilidad de crítico y de pifia, en tal caso también cuentas los siguientes números del dado. Es muy importante tener en cuenta que son los valores originales del dado los que cuentan para esto, y no el valor modificado.</p>
<p>Puedes perder estabilidad como coste o ciertos efectos. Puedes gastar un turno para recuperarla toda.  Mientras que la estabilidad es 0, todos los impactos recibidos son críticos y no puedes desplazarte entre espacios (mirar a continuación). La estabilidad se recupera automáticamente al final del combate. La estabilidad no puede bajar de 0.<p>
<p><b>Alcance y composición.</b> En combate, la arena de combate se divide en varios espacios dispuestos en una línea, desde un lado es de donde viene el equipo, y al otro lado los enemigos que se interponen en el camino. Cada contendiente está en uno de estos espacios en todo momento y puede moverse de un espacio a otro adyacente como acción en su turno. Las posiciones iniciales las decide el game master según se dé el encuentro. Armas y habilidades tienen cierto alcance que determinan a qué objetivos pueden afectar según la distancia entre espacios (entre cada espacio se considera 1 de distancia):</p>
<ul>
    <li>Corto: sólo llegas a objetivos en tu <b>mismo espacio</b>.</li>
    <li>Medio: llegas a objetivos hasta a <b>1</b> de distancia.</li>
    <li>Largo: llegas a objetivos hasta a <b>2</b> de distancia.</li>
    <li>Muy largo: llegas a objetivos hasta a <b>3</b> de distancia.</li>
    <li>ilimitado: no importa la distancia.</li>
</ul>
<p>Según cómo el equipo vaya en ese momento o la situación, conformaréis cierta composición al entrar en combate</p> 
<p>Una regla especial es el <b>ataque de oportunidad.</b> Cuando un ser, que está en el mismo espacio con uno o varios enemigos, sale de ese espacio, cada uno de sus enemigos gana inmediatamente una acción para atacarle. Esto se aplica bilateralmente entre ambos bandos del combate.</p> 

<h2>Definición de personaje</h2>
<p>Ahora toca ver en qué cosiste tu personaje exactamente y luego cómo es el proceso para crearlo. Ya hemos visto que tienes sangre, estabilidad y cuerpo, veamos cómo se calculan estos valores.</p>

<h3>Estadísticas (ahora de verdad)</h3>
<p>Vamos a volver a verlas pero esta vez explicándolas.</p>
<ul>
    <li>(FU) Fuerza: determina tu penetración física.</li>
    <li>(IN) Inteligencia: determina tu penetración mágica.</li>
    <li>(DE) Destreza: establece tu estabilidad máxima. (Mínimo 1.)</li>
    <li>(CO) Constitución: determina tu sangre máxima. (Mínimo 2).</li>
    <li>(RE) Resistencia: determina tu peso máximo. (Mínimo 0).</li>
</ul>
<p>Cualquiera puede ser negativa. Pero la estadística es menor que el valor mínimo de aquello que está determinando, entonces esa cosa toma su mínimo como valor.</p>


<h3>Clases y habilidades</h3>
<h4>Clase</h4>
<p>Cada clase tiene un título, nível, descripción, efectos, clases madres y clases hijas (imagen si eso también). Representan cosas como oficios o razas.</p>
<h4>Habilidad</h4>
<p>Cada habilidad tiene:</p>
<ul>
    <li>Nombre: sin más.</li>
    <li>Nivel: indica el nivel de clase necesario para aprender esta habilidad.</li>
    <li>Clases: lista de clases a las que pertenece.</li>
    <li>Descripción: indica algún requisito adicional, así como sus efectos.</li>
</ul>
</p>A continuación vamos a ver los conceptos clave que las habilidades pueden usar:</p>
<ul>
    <li><b>Pasivas/activas:</b> Algunas habilidades tienen efectos que están siempre funcionando sin necesidad de hacer nada al respecto, otras requieren que las actives y en combate consumen tu acción de turno. No se pone explícitamente, pero no es difícil distinguirlos.</li>
    <li><b>></b> Muchas habilidades activas tienen algún tipo de coste para usarlas. Esto se indica de la forma: "coste > efecto". Debes de pagar el coste antes de hacer de aplicar el efecto o hacer cualquier tirada relacionada. Si no tienes suficiente de aquello que necesitas para el coste, no puedes usar la habilidad. Algunas pueden usar estabilidad (ES) como coste, las bajas temporalmente por esa cantidad.</li>
    <li><b>Objetivo del ataque:</b> Si una habilidad está dirigida a una única parte del cuerpo, debes de declarar a cuál antes de tirar precisión. Si es un <b>golpe alto</b>, sólo puedes escoger entre las partes del cuerpo superiores, si es un <b>golpe bajo</b>, de entre las bajas. Si es un <b>golpe aleatorio</b>, tras impactar tira 1d8 para decidir en que parte se acertó; si además es aleatorio pero bajo o alto, usa 1d4.</li>
    <li><b>Dañar:</b> cuando una habilidad daña, hace que la/s parte/s del cuerpo afectada/s desciendan una vez en su estado de salud.</li>
    <li><b>Mágico:</b> las habilidades ofensivas de carater mágico tienen esta palabra clave. Es decir, te fijas en la armadura y penetración mágicas en vez de físicas.</li>
    <li><b>[Instanténeo]:</b> una habilidad instantánea puede usarse en cualquier turno; pero sólo puedes unar una habilidad instantánea por turno. Si se usa en el turno de un enemigo, debe de ser una vez se haya declarado el objetivo, pero antes de que haga su tirada de precisión. Si se utiliza más de un instantáneo por turno, estos se realizan a través de la pila. Después de que alguien declare qué instantáneo va usar, antes de resolverlo, todos tienen la oportunidad de responder con otro instantáneo, al hacerlo se "coloca encima de la pila" y se vuelve a dar la oportunidad a todos de usar un instantáneo. Se sigue así hasta que nadie más quiera usar uno, entonces los instantáneos suceden de arriba abajo, es decir, primero los últimos declarados; inmediatamente después sucede la acción normal del turno y luego el turno termina sin que haya oportunidad de usar más intantáneos.</li>
    <li><b>Golpe al alma:</b> algunas habilidades mágicas no hacen objetivo a una parte del cuerpo concreta, si no al "alma" del objetivo, por lo que ignoras efectos ligados a una parte del cuerpo concreta.</li>
    <li><b>Matar:</b> algunas habilidades pueden tratar de matar al objetivo directamente, pero si el objetivo es un jugador entonces realiza una tirada de muerte.</li>
    <li><b>{}</b> Algunas habilidades requieren como condición adicional que superes cierta prueba para poder aplicar el efecto (normalmente a cambio de hacer tirada de precisión). Se indica de la forma: "coste {prueba} > efecto".</li>
    <li><b>NV:</b> Algunas habilidades o efctos de clases se aprovechan de el nivel de tu clase para aplicar su efecto, esto se indica con <b>NV</b>. Si una habilidad que use NV pertenece a dos clases, suma ambos niveles.</li>
    <li><b>Escamavida:</b> Las escamavidas se asocian a una parte concreta del cuerpo, se pueden acumular y duran indefinidamente. Cuando esa parte del cuerpo fuera a ser dañada, en vez de eso destruye una escamavida.</li>
</ul>
</p>Además, por norma general, los efectos de las habilidades no son acumulables, a no ser que se indique lo contrario.</p>


<h3>Item</h3>
<p>Cada item tiene:</p>
<ul>
    <li>Nombre: sin más.</li>
    <li>Coste: cantidad de oro necesaria para adquirirlo en ula creación de personajes y precio estándar de venta. El precio de compra en tiendas debería de ser bastante superior.</li>
    <li>Peso: unidades de peso que ocupa de tu peso máximo. Para poder cargar con ítems estás obligado a tener peso suficiente para llevarlo. Si tu peso total supera tu máximo, entonces ganas desventaja en todas tus tiradas y los enemigos ganan ventaja en todas sus tiradas sobre ti, por cada unidad que supere al máximo.</li>
    <li>Descripción: efectos, requisitos y condiciones.</li>
</ul>
<p>Algunos items pueden consumirse al usarse, como munición, pociones o comida. Los quitas de tu inventario al usar su efecto.</p>
<p>Algunos items también pueden especificar "1 mano" o "2 manos", esto significa que hay que llevarlos en una mano (o ambas) para aplicar su efecto o usarlos normalmente. Lógicamente no puedes agarrar más de un item a la vez en la misma mano. Al crear a tu personaje decides si eres diestro o zurdo. Si usas un item con tu mano no predominante tienes desventaja en las tiradas relacionadas (no cuenta a dos manos). Esta regla es importante tenerla en cuenta por si te hieren algún brazo. Si pierdes un brazo, te vuelves dominante en el que te queda automáticamente.</p>

<h4>Armadura y ropa</h4>
<p>No hay una regla estrica para definir que ropa o armaduras puedes tener equipados a la vez (a parte del peso), hay que ser razonable. Además, para simplificar la lectura, las estadísticas de armadura se indican de la forma: "Armadura: M1[F1,F2,F3,F4,,F5,F6,F7,F8]" dónde M1 es la armadura mágica que da y los F son los valores de armadura física para cada parte del cuerpo según el orden normal. Estos valores son aditivos, puedes llevar varias capas de ropa en la misma parte del cuerpo para aumentar su valor, y tu armadura mágica será la suma total de todo lo que lleves (recuerda que tu armaduras base son cero). Algunas conjuntos de ropa/armadura, no incluyen cierta parte del cuerpo, esto se indica con una X en esa parte, esto quiere decir que esta parte está desocupada.</p>
<p>A diferencia de los efectos de las habilidades, por norma general, los efectos de los items sí son acumulables, incluso si tienes equipados varias copias del mismo.</p>

<h2>Creación de personaje</h2>
<p>Ahora que conoces todos los elementos que hay vamos a ver cómo se crea tu personaje. Hay que hacer varias cosas, vamos a verlas independientemente.</p>
<h3>Estadísticas</h3>
<p>Además de las 5 estadística básicas hay que establecer tu oro inicial. Para inicializarlas, lanzas 2d6 seis veces (sumas los dados a pares y obtienes 6 valores). A continuación debes de repartir los valores libremente entre las 5 estadísticas iniciales y el oro. Si crees que la tirada es mala, antes de hacer nada más, tienes la oportunidad de repetirla entera; te quedas con el resultado sin poder cambiarlo; pero si el resultado total es menor que 20, puedes repetirno idefinidamente hasta que sea mayor que 20.</p>
<h3>Clases y habilidades</h3>
<p>Tienes <b>5</b> niveles disponibles para aprender clases y habilidades. </p>
<h4>Clases</h4>
<p>Para aprender una clase gasta un nivel, pero hay que tener en cuenta ciertas condiciones. Es importante ditinguir entre clases radicales, clases de raza y el resto. Sólo puedes aprender clases de raza al crear un personaje. Las clases pueden tener clases madres e hijas; las clases que no tienen ninguna madre se consideran radicales. (Se utiliza terminología de parientes para las clases relacionadas.) Puedes aprender clases radicales libremente, pero para las otras necesitas haber aprendido todas sus madres antes.</p>
<p>Un pequeño consejo. Como se ve abajo, aprender clases radicales más tarde es más costoso. Entonces recomiendo mirar qué clases te interesaría aprender en el futuro para aprender de primera todas las radicales de las que dependan, aunque ahora no las fueras a aprovechar, será un ahorro de niveles.</p>
<h4>Hablidades</h4>
<p>Al aprender una clases tienes acceso a las habilidades propias de la misma. Al principio aprendes automáticamente todas las habilidades de nivel 0 y puedes gastar niveles para aprender las habilidades de nivel 1 de las clases que tengas. Algunas habilidades pertenecen a más de una clase, con que tengas al menos una de las clases listadas es suficiente para aprender esa habilidad.</p>
<h4>Hablidades independientes</h4>
<p>Algunas habilidades no pertenecen a ninguna clase. Para poder aprenderlas necesita gastar niveles igual a su nivel.</p>
<h3>Items</h3>
<p>Puedes comprar items iniciales con tu oro inicial. (No tienes porqué gastarlo todo.) Además de gastar el oro, aseguráte de que tienes peso para llevarlos encima.</p>
<br>
<p>Aunque normalmente habría que seguir estos pasos, puedes ir haciendo todo a la vez, mientras que respetes la tirada de estadísticas y que al final se quede todo bien, no hay problema.</p>
<p>Para crearte el personaje con más comodidad puedes encontrar una plantilla de ficha <b class="recursos"><%= link_to "aquí", "https://drive.google.com/drive/folders/1END33BiNOJG38i0EPDiZEkhmVlhTcf7R?usp=sharing" %> </b>junto a otros recursos interesantes. </p>

<h2>Progresión</h2>
<p>Conforme avance la aventura irás consiguiendo nuevos niveles. Puedes invertir estos niveles de 6 formas diferentes:</p>
<ul>
    <li>1. Aprender una nueva habilidad independiente gastando niveles igual a su nivel. </li>
    <li>2. Cada clase tiene su propio nivel que comienza en 1. Puedes invertir un nivel para aumentar el nivel de cierta clase en 1.</li>
    <li>3. Aprender una habilidad de clase por un nivel, pero sólo si tu nivel de clase es igual o mayor al nivel de la habilidad.</li>
    <li>4. Aprender una nueva clase, sólo si ya has adquirido todas sus clases madres.</li>
    <li>5. Aprender una nueva clase radical por 3 niveles.</li>
    <li>6. Gastar 1 nivel en aumentar en 1 una estadística (hasta 20).</li>
</ul>
<p>Las clases de raza no se puede aprender después de la creación de personaje.</p>
<p>Tienes la posibilidad de guardarte niveles para no gastarlos inmediatamente al obtenerlos. </p>


<%#
<ul>
    <li></li>
    <li></li>
    <li><b></b></li>
</ul>
<h2></h2>
<h3></h3>
<h4></h4>
<p></p>
<b></b>
%>